@tailwind base;
@tailwind components;
@tailwind utilities;

/** https://web.dev/add-touch-to-your-site/#suppressing-default-browser-styles */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

/* <article><pre /></article> */
.prose pre {
  @apply border-2 border-black/5 dark:border-white/5 rounded-none;
}

.prose pre,
.prose pre * {
  @apply text-[var(--shiki-light)] bg-[var(--shiki-light-bg)] dark:text-[var(--shiki-dark)] dark:bg-[var(--shiki-dark-bg)];
}

/* <article>{NOT 'pre' OR 'pre *' OR 'code' OR 'CODE *' OR 'P.SPAN'}</article> */
.prose *:not(pre, pre *, code, code *, p > span, [class*='not-prose'] *) {
  @apply text-black dark:text-white my-2.5 mx-0;
}

/* `` */
.prose code:not(pre code) {
  @apply text-gray-900 dark:text-white/80 px-1 bg-black/5 dark:bg-white/5 rounded-sm;
}

/* <p className="not-prose"><span /></p> */
p:where([class*='not-prose']) > span {
  @apply text-gray-800 dark:text-gray-300;
}

.prose a {
  @apply decoration-gray-400 dark:decoration-gray-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-black dark:text-white;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose blockquote {
  @apply border-black/5 dark:border-white/5 dark:bg-black/5;
}

.prose blockquote p {
  @apply font-extralight not-italic text-black dark:text-white;
}

.prose :where(code)::before,
.prose :where(code)::after,
.prose blockquote p::before,
.prose blockquote p::after {
  content: '';
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply font-light;
}
